{% extends 'base.html.twig' %}
{% block body %}

<form method="POST">
	<button formAction="newPost" name="new_post">New Post</button>
	<button formAction="newInvitation" name="new_invitation">New Invitation</button>
	<button formAction="newPoll" name="new_poll">New Poll</button>
</form>

{%if posts is defined%}
{%for post in posts%}
<a href="post/{{post.getId()}}">{{post.getTitle()}}</a>
{%endfor%}
{%endif%}

{%if Invitation is defined%}
{%for invitation in invitations%}
<a href="invitation/{{invitation.getId()}}">{{invitation.getAuthor()}} invited {{invitation.getInvitee}} to an event</a>
{%endfor%}
{%endif%}

{%if polls is defined%}
{%for poll in polls%}
<a href="poll/{{poll.getId()}}">{{poll.getTitle()}}</a>
{%endfor%}
{%endif%}


{% endblock %}