{% extends 'base.html.twig' %}
{% block body %}
<br><br><br>
<h3>{{ post.getTitle() }}</h3>
<p>{{ post.getText() }}
<br>
{% for img in post.getImage() %}
<img src="app/Resources/images/{{img}}">
{%endfor%}
<br><br>
Make your own comment:
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<br><br><br><br>
{% for comment in comments %}
<table border="2px">
		<td>{{comment.getText}}</td>
		{% for img in comment.getImage() %}


		<tr>
				<td><img src="{{ asset('images/') }}{{img}}"></td>
{%endfor%}
</table>
{%endfor%}

{% endblock %}